name: On PRs

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  todo:
    runs-on: ubuntu-latest
    steps:
      - name: TODO
        run: echo "TODO"
