name: On PRs

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  audit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate: [nitro-verifier, sev-verifier, tdx-verifier]
    steps:
      - name: Checkout Bearclave zkVM
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cargo-audit
        run: cargo install cargo-audit

      - name: Audit ${{ matrix.crate }}
        working-directory: ${{ matrix.crate }}
        run: make audit

  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate: [nitro-verifier, sev-verifier, tdx-verifier]
    steps:
      - name: Checkout Bearclave zkVM
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Lint ${{ matrix.crate }}
        working-directory: ${{ matrix.crate }}
        run: make lint
